@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

#section07 a {
	padding-top: 80px;
}
#section07 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
	top: 32px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;                          /* A basic font so that the design can adapt nicely*/
}

/* For sections with background images */

.imageBlock {
    background-origin: content;                                             /* Places the background image in the upper left corner of the content */
    background-repeat: no-repeat;                                           /* Keeps the background image from repeating when the window is slimmed */
    background-size: 100%;                                                  /* Sets the width and height of the background image to the same as the div */
    color: white;                                                           /* Color of the font in the div */
    height: 75vw;   
    max-height: 600px;
    line-height: 75vw;                                                     /* Pushes the div to just under the header */
    margin-top: -20px; 
    text-align: center;                                                     /* Horizontally centres the text */
    width: 100%;                                                            /* Keeps the div from the left all the way to the right of the window */
}

#Hook {
    background-image: url(../images/pile-of-wasted-food-1-darkened.jpg);    /* Used a darkened image instead of using layers + opacity for simplicity */
}

#LeadUp {
    background-image: url(../images/person-throwing-away-food-darkened.jpg);/* Used a darkened image instead of using layers + opacity for simplicity */
}

.imageBlockHeading {
    font-size: 5vw;
}

.imageBlockSubHeading {
    font-size: 4vw;
    font-weight: 100;                                                       /* Made it lighter to make it more of its own thing */
}

.imageBlockCaption {
    font-size: 3vw;
    font-weight: 100;                                                       /* Made it the same as subheading to keep it separate from the heading */
}

.textBlock {
    background-color: lightgoldenrodyellow;                                              /* Colour of the div for the text sections */
    color: black;                                                           /* Colour of the font for the text sections */
	height: auto;                                                           /* Height of the div for the text sections */
    line-height: auto;                                                      /* Vertically centers the text by matching the div height */
    padding: 75px 0;                                                        /* Inserts space on top and under the div */
    text-align: center;                                                     /* Horizontally centres the text */
    width: 100%;                                                            /* Keeps the div from the left all the way to the right of the window */
}

/* For sections focussed on text */

.textBlockHeading {
    font-size: 32px;                                                        /* Size of heading font */
}

#Problem li, .textBlockText {
    font-size: 18px;                                                        /* Size of main text font */
    text-align: left;                                                       /* Lines the text along the left side to resemble more of a paragraph */
}

.textBlockText {
    margin: 10px 5% 0;                                                      /* Inserts space above paragraphs, none below, and 5% of the widht on each side */
}

#Problem li {
    margin: 0 5% 0;   
}

.graphicsBlock {
    background-color: #ff8800;                                              /* Colour of the div for the text sections */
    color: white;                                                           /* Colour of the font for the text sections */
	height: auto;                                                           /* Height of the div for the text sections */
    line-height: auto;                                                      /* Vertically centers the text by matching the div height */
    padding: 75px 0;                                                        /* Inserts space on top and under the div */
    text-align: center;                                                     /* Horizontally centres the text */
    width: 100%;                                                            /* Keeps the div from the left all the way to the right of the window */
}

.statGraphic {
    margin: 10px 25px 0;
    width: 200px;
} 

#signUpButton {
    border: 5px solid white;
    margin: 0 30%;                                                        /* So users know that it's clickable */
    font-size: 1.5em;
}

#signUpButton:hover {
    background-color: white;
    color: #ff8800;
    cursor: pointer;
}

#Hook span, #LeadUp span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}


/*  MODAL BOX  */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding: 2px 16px;}





#backToTopButton a {
	margin-top: 5%;
    margin-bottom: 20px;
}
#backToTopButton a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#backToTopButton a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	box-sizing: border-box;
}
.demo a {
	display: inline-block;
	-webkit-transform: translate(0, -50%);
}
