.waste-cover > p, .stats-cover > p, .rank-cover > p {
    color: white;
    font-size: 18px;
}

.waste, .stats, .rank {
    overflow: auto;
    height: 100%;
}

.container-fluid {
    height: 91%;
}

.row {
    height: 100%;
}

.waste {
    width: 33% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.stats {
    width: 33% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.rank {
    width: 34% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.waste-form {
    text-align: center;
    display: none;
    height: 0%;
    width: auto;
}

.waste-container {
    margin: 1%;
    background-color: white;
    box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
}

.button {
    width: 95%;
    margin: 2.5%;
}

.background-btn {
    margin-left: 8px; 
    height: 20px;
    width: 20px;
}

.black-background {
    background-color: #000000;
}

.blue-background {
    background-color: #327bc9;
}

.waste.grey {
    width: 33% auto;
    background-color: #B4B4B4;
}

.stats.grey {
    width: 33% auto;
    background-color: #B4B4B4;
}

.rank.grey {
    width: 34% auto;
    background-color: #B4B4B4;
}

.waste.green {
    width: 33% auto;
    background-color: #54BF3D;
}

.stats.green {
    width: 33% auto;
    background-color: #54BF3D;
}

.rank.green {
    width: 34% auto;
    background-color: #54BF3D;
}

.waste.black {
    width: 33% auto;
    background-color: #1c1c1c;
}

.stats.black {
    width: 33% auto;
    background-color: #1c1c1c;
}

.rank.black {
    width: 34% auto;
    background-color: #1c1c1c;
}

.waste.blue {
    width: 33% auto;
    background-color: #215791;
}

.stats.blue {
    width: 33% auto;
    background-color: #215791;
}

.rank.blue {
    width: 34% auto;
    background-color: #215791;
}

.waste.yellow {
    width: 33% auto;
    background-color: #ff941a;
}

.stats.yellow {
    width: 33% auto;
    background-color: #ff941a;
}

.rank.yellow {
    width: 34% auto;
    background-color: #ff941a;
}

.waste-cover, .stats-cover, .rank-cover {
    text-align: center;
}

.waste-cover > img, .stats-cover > img, .rank-cover > img {
    width: 100%;
    height: auto;
}

.chart {
    margin: 2.5%;
    max-width: 45%;
    background-color: white;
    box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
}


@media only screen and (max-width: 768px) {
    .waste-cover > img, .stats-cover > img, .rank-cover > img {
        width: 9%;
        height: auto;
    }

    .waste-cover > p, .stats-cover > p, .rank-cover > p {
        display: inline;
    }
    
    .chart {
        margin: 2.5%;
        max-width: 95%;
        max-height: 50%;
        background-color: white;
        box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
    }
}