.waste-cover > p, .stats-cover > p, .rank-cover > p {
    color: white;
    font-size: 18px;
}

.waste, .stats, .rank {
    overflow: auto;
    height: 100%;
}

.container-fluid {
    height: 91%;
}

.row {
    height: 100%;
}

.waste {
    width: 33% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.waste:hover {
    background-color: orange;
}

.stats {
    width: 33% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.stats:hover {
    background-color: orange;
}

.rank {
    width: 34% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.rank:hover {
    background-color: orange;
}

.waste-form {
    text-align: center;
    display: none;
    height: 0%;
    width: auto;
}

.waste-container {
    margin: 1%;
    background-color: white;
    box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
}

.button {
    width: 95%;
    margin: 2.5%;
}

.background-btn {
    margin-left: 8px; 
    height: 20px;
    width: 20px;
}

.black-background {
    background-color: #000000;
}

.blue-background {
    background-color: #327bc9;
}

.waste.grey {
    width: 33% auto;
    background-color: #a5a7aa;
}

.waste.grey:hover {
    background-color: #B4B4B4;
}

.stats.grey {
    width: 33% auto;
    background-color: #a5a7aa;
}

.stats.grey:hover {
    background-color: #B4B4B4;
}

.rank.grey {
    width: 34% auto;
    background-color: #a5a7aa;
}

.rank.grey:hover {
    background-color: #B4B4B4;
}

.waste.green {
    width: 33% auto;
    background-color: #1ab21d;
}

.waste.green:hover {
    background-color: #2cc12f;
}

.stats.green {
    width: 33% auto;
    background-color: #1ab21d;
}

.stats.green:hover {
    background-color: #2cc12f;
}

.rank.green {
    width: 34% auto;
    background-color: #1ab21d;
}

.rank.green:hover {
    background-color: #2cc12f;
}

.waste.black {
    width: 33% auto;
    background-color: #1c1c1c;
}

.waste.black:hover {
    background-color: #323233;
}

.stats.black {
    width: 33% auto;
    background-color: #1c1c1c;
}

.stats.black:hover {
    background-color: #323233;
}

.rank.black {
    width: 34% auto;
    background-color: #1c1c1c;
}

.rank.black:hover {
    background-color: #323233;
}

.waste.blue {
    width: 33% auto;
    background-color: #215791;
}

.waste.blue:hover {
    background-color: #2e61b2;
}

.stats.blue {
    width: 33% auto;
    background-color: #215791;
}

.stats.blue:hover {
    background-color: #2e61b2;
}

.rank.blue {
    width: 34% auto;
    background-color: #215791;
}

.rank.blue:hover {
    background-color: #2e61b2;
}

.waste.yellow {
    width: 33% auto;
    background-color: #ff941a;
}

.waste.yellow:hover {
    background-color: orange;
}

.stats.yellow {
    width: 33% auto;
    background-color: #ff941a;
}

.stats.yellow:hover {
    background-color: orange;
}

.rank.yellow {
    width: 34% auto;
    background-color: #ff941a;
}

.rank.yellow:hover {
    background-color: orange;
}

.waste.active, .waste.grey.active, .waste.green.active, .waste.black.active, .waste.blue.active, .waste.yellow.active {
    background-image: url(../images/desktop-waste-background.png);
    background-size: cover;
}

.waste.mobile {
    background-image: url(../images/mobile-waste-yellow.png);
    background-size: cover;
}

.waste.grey.mobile {
    background-image: url(../images/mobile-waste-grey.png);
    background-size: cover;
}

.waste.green.mobile {
    background-image: url(../images/mobile-waste-green.png);
    background-size: cover;
}

.waste.black.mobile {
    background-image: url(../images/mobile-waste-black.png);
    background-size: cover;
}

.waste.blue.mobile {
    background-image: url(../images/mobile-waste-blue.png);
    background-size: cover;
}

.waste.yellow.mobile {
    background-image: url(../images/mobile-waste-yellow.png);
    background-size: cover;
}

.stats.active, .stats.grey.active, .stats.green.active, .stats.black.active, .stats.blue.active , .stats.yellow.active {
    background-image: url(../images/desktop-stats-background.png);
    background-size: cover;
}

.stats.mobile {
    background-image: url(../images/mobile-stats-yellow.png);
    background-size: cover;
}

.stats.grey.mobile {
    background-image: url(../images/mobile-stats-yellow.png);
    background-size: cover;
}

.stats.green.mobile {
    background-image: url(../images/mobile-stats-green.png);
    background-size: cover;
}

.stats.black.mobile {
    background-image: url(../images/mobile-stats-black.png);
    background-size: cover;
}

.stats.blue.mobile {
    background-image: url(../images/mobile-stats-blue.png);
    background-size: cover;
}

.stats.yellow.mobile {
    background-image: url(../images/mobile-stats-yellow.png);
    background-size: cover;
}

.rank.active, .rank.grey.active, .rank.green.active, .rank.black.active, .rank.blue.active, .rank.yellow.active {
    background-image: url(../images/desktop-rank-background.png);
    background-size: cover;
}

.rank.mobile {
    background-image: url(../images/mobile-rank-orange.png);
    background-size: cover;
}

.rank.grey.mobile {
    background-image: url(../images/mobile-rank-grey.png);
    background-size: cover;
}

.rank.green.mobile {
    background-image: url(../images/mobile-rank-green.png);
    background-size: cover;
}

.rank.black.mobile {
    background-image: url(../images/mobile-rank-black.png);
    background-size: cover;
}

.rank.blue.mobile {
    background-image: url(../images/mobile-rank-blue.png);
    background-size: cover;
}

.rank.yellow.mobile {
    background-image: url(../images/mobile-rank-orange.png);
    background-size: cover;
}

.waste-cover, .stats-cover, .rank-cover {
    text-align: center;
}

.waste-cover > img, .stats-cover > img, .rank-cover > img {
    width: 100%;
    height: auto;
}

.chart {
    margin: 2.5%;
    max-width: 45%;
    background-color: white;
    box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
}

.rankHolder {
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
    width: 95%;
    margin: 2.5%;
}

label {
    margin: auto;
    font-size: 18px;
    width: 45%;
    height: 40px
}

.rankHolder > input {
    margin: 2%;
}

.rankHolder > img {
    float: left;
    height: 40px;
    width: auto;
    display: inline;
    margin: 1% 0 0 1%;
}

.rankHolder > .header {
    font-size: 30px;
    display: inline;
}

.rankHolder > .body {
    margin: 3%;
    font-size: 20px;
}

.rankHolder > .body > .ranking {
    font-size: 22px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .waste-cover > img, .stats-cover > img, .rank-cover > img {
        width: 9%;
        height: auto;
    }

    .waste-cover > p, .stats-cover > p, .rank-cover > p {
        display: inline;
    }
    
    .chart {
        margin: 2.5%;
        max-width: 95%;
        max-height: 50%;
        background-color: white;
        box-shadow: 2px 2px RGBA(0, 0, 0, 0.1);
    }
}