.waste-cover > p, .stats-cover > p, .rank-cover > p {
    color: white;
    font-size: 18px;
}

.waste, .stats, .rank {
    overflow: auto;
    height: 100%;
}

.container-fluid {
    height: 91%;
}

.row {
    height: 100%;
}

.waste {
    width: 33% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.stats {
    width: 33% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.rank {
    width: 34% auto;
    background-color: #ff941a;
    border: 1px solid white;
}

.waste-form {
    text-align: center;
    display: none;
    height: 0%;
    width: auto;
}

.waste-container {
    margin: 1%;
    background-color: white;
    box-shadow: 2px 2px #e67a00;
}

.waste-btn {
    width: 95%;
    margin: 2.5%;
}

.waste-cover, .stats-cover, .rank-cover {
    text-align: center;
}

.waste-cover > img, .stats-cover > img, .rank-cover > img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .waste-cover > img, .stats-cover > img, .rank-cover > img {
        width: 9%;
        height: auto;
    }
    
    .waste-cover > p, .stats-cover > p, .rank-cover > p {
        display: inline;
    }
}