html, body {
    overflow: hidden;
    width: auto;
    height: 100%;
    background-color: white;
}

.login-options > p {
    font-family: Tahoma;
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.login-options {
    margin: auto;
    margin-top: 150px;
    background-color: white;
    max-width: 400px;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: 3px 3px #A7A7A7;
}

.button {
    text-align: center;
    color: white;
    font-size: 18px;
}

.waste, .stats, .rank {
    height: 100%;
}

.container-fluid {
    height: 91%;
}

.row {
    height: 100%;
}

.options {
    padding-left: 10px;
    color: white;
}

.select {
    color: black;
}

.add > img, .stats > img, .rank > img {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
}

.background-btn {
    margin-left: 8px; 
    height: 20px;
    width: 20px;
}

.black-background {
    background-color: #000000;
}

.blue-background {
    background-color: #327bc9;
}

div#container {
    height: 50px; 
    line-height: 50px;
}

.cog {
    vertical-align: middle;
}

.waste {
    overflow: auto;
    width: 33% auto;
    background-color: #B4B4B4;
}

.stats {
    width: 33% auto;
    background-color: #C0C0C0;
}

.rank {
    width: 34% auto;
    background-color: #CDCDCD;
}

.waste.grey {
    overflow: auto;
    width: 33% auto;
    background-color: #B4B4B4;
}

.stats.grey {
    width: 33% auto;
    background-color: #C0C0C0;
}

.rank.grey {
    width: 34% auto;
    background-color: #CDCDCD;
}

.waste.green {
    overflow: auto;
    width: 33% auto;
    background-color: #54BF3D;
}

.stats.green {
    width: 33% auto;
    background-color: #4BCC2E;
}

.rank.green {
    width: 34% auto;
    background-color: #57DD39;
}

.waste.black {
    overflow: auto;
    width: 33% auto;
    background-color: #1c1c1c;
}

.stats.black {
    width: 33% auto;
    background-color: #2b2b2b;
}

.rank.black {
    width: 34% auto;
    background-color: #3d3d3d;
}

.waste.blue {
    overflow: auto;
    width: 33% auto;
    background-color: #215791;
}

.stats.blue {
    width: 33% auto;
    background-color: #2b6baf;
}

.rank.blue {
    width: 34% auto;
    background-color: #327bc9;
}

.waste.yellow {
    overflow: auto;
    width: 33% auto;
    background-color: #e28b18;
}

.stats.yellow {
    width: 33% auto;
    background-color: #ffa126;
}

.rank.yellow {
    width: 34% auto;
    background-color: #f7b633;
}

.waste-form {
    display: none;
    height: 0%;
    width: auto;
}

.waste-container {
    background-color: white;
    box-shadow: 2px 2px #A7A7A7;
}

.waste-form {
    text-align: center;
}

.waste-btn {
    width: 95%;
    margin: 2.5%;
}

/* NavBar Styles */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: black;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: white;
    border-radius: 0px;
    margin: 0;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: black;
    background-color: white;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #C0C0C0;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #A7A7A7;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: black;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: black;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}