body {
    width: auto;
    background-color: #774a35;
}

.login-options > p {
    font-family: Tahoma;
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.login-options {
    margin: auto;
    margin-top: 150px;
    background-color: white;
    max-width: 400px;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: 3px 3px #543425;
}

.button {
    text-align: center;
    font-family: Tahoma;
    color: Black;
    font-weight: 800;
    font-size: 30px;
}


#logout {
    float: right;
    color: white;
    height: auto;
    width: auto;
}

.add {
    height: 100%;
    margin: auto;

}

.add > img {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
}

.body {
    height: 100%;
}

/* NavBar Styles */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(139, 69, 19, 1);
    border-width: 1px;
    border-radius: 4px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(139, 69, 19, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(102, 51, 11, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(139, 69, 19, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: white;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #8b4513;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

