header {
    background-color: #7F3300;
    height: auto;
    width: 100%;
    margin: auto;
}

header > img {
    width: auto;
    height: auto;
}

header > p {
    display: inline-block;
    color: white;
    font-family: Tahoma;
    font-weight: 800;
    font-size: 45px;
    height: auto;
    width: auto;
}

footer {
    text-align: center;
    color: white;
    height: 30px;
    background-color: #7F3300;
    width: 100%;
    position: fixed;
    bottom: 0vh;
    overflow: hidden;
}

.navbar {
    border-radius: 0px;
    background-color: #7F3300;
}


#myNavBar.navbar-inverse .navbar-toggle {
    background-color: #7F3300;
    border-color: #5F2600;
}

#myNavBar.navbar-inverse .navbar-toggle:hover,
#myNavBar.navbar-inverse .navbar-toggle:focus {
    background-color: #5F2600;
}

#myNavBar.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}

.navbar-collapse > ul > li:hover {
    background: #5F2600;
}

#navbarCollapse {
    border: transparent;
}



